 body {
    font-family: Arial, sans-serif;
    background-color:  #FFC7C8;
    margin: 0;
    padding: 0;
}
}

header {
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 5px 0;
}

form {
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9; /* Fundo do formulário */
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #FFC7C8; /* Cor dos botões */
    color: #333; /* Cor do texto do botão */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffb3b5; /* Cor ao passar o mouse */
}
